.certificate__container {
  @extend .grid-part;
  @extend .aside-part;

  .certificate__wrapper {
    width: 90%;
    margin: 0rem auto;
    position: relative;

    @include media('>=tablet') {
      margin-top: 5rem;
    }

    .CIRCLE {
      position: absolute;
      top: 19rem;
      left: -6rem;
      opacity: 0;

      @include media('>=tablet') {
        opacity: 1;
      }
    }

    .CIRCLE2 {
      position: absolute;
      right: 10rem;
      bottom: -16rem;
      opacity: 0.04;

      svg {
        height: 31rem;
      }
    }

    .certificate__generalInfo {
      padding: 1rem 0;
      max-width: 34rem;
      margin-bottom: 2rem;

      @include media('>=tablet') {
        padding-left: 5rem;
        text-align: left;
      }
    }

    .certificate__boxes {
      .certificate__box {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        &:nth-last-child(1) {
          margin-bottom: 0rem;
        }

        @include media('>=tablet') {
          flex-direction: row;
          margin-bottom: 4rem;
        }

        .certificate__img {
          width: 100%;
          // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

          @include media('>=tablet') {
            margin-left: 11vw;
            min-width: 23.9rem;
            max-height: 18.5rem;
            margin-right: 1rem;
          }
        }

        // REVERSE
        &.reverse {
          @include media('>=tablet') {
            flex-direction: row-reverse;
          }

          .certificate__img {
            width: 100%;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
              0 1px 2px rgba(0, 0, 0, 0.24);

            @include media('>=tablet') {
              min-width: 23.9rem;
              max-height: 18.5rem;
              margin-left: 1rem;
            }
          }

          .certificate__info {
            @include media('>=tablet') {
              margin-left: 11vw;
            }
          }
        }

        .certificate__info {
          text-align: left;

          h3 {
            margin: 1rem 0;

            @include media('>=tablet') {
              margin: 0;
            }
          }

          p {
            text-align: justify;
          }
        }
      }
    }
  }
}
