.service__container {
  @extend .grid-part;
  @extend .aside-part;

  .service__wrapper {
    // padding: 2rem 0;
    width: 90%;
    margin: 0 auto;
    position: relative;

    @include media('>=tablet') {
      margin: 1rem auto 0 auto;
    }

    .service__generalInfo {
      padding: 1rem 0;
      max-width: 34rem;
      margin-bottom: 2rem;

      @include media('>=tablet') {
        padding-left: 5rem;
        text-align: left;
      }
    }

    .box-switcher {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 0.4rem;
      margin-bottom: 1rem;
      justify-content: center;

      @include media('>=652px') {
        grid-template-columns: repeat(2, 1fr);
      }

      @include media('>=laptop') {
        flex-direction: row;
        grid-template-columns: repeat(4, 1fr);
      }

      button {
        @include button($color-text-bright, $color-main, $color-text-dark);
      }
    }

    .service__boxes {
      margin-top: 2rem;
      overflow: hidden;

      .service__box {
        display: flex;
        flex-direction: column;
        @include media('>=tablet') {
          flex-direction: row;
        }

        .service__image {   
          width: 100%;
          text-align: center;  

          img {
            // max-width: 48rem;
          }
        }

        .service__info {
          padding: 1rem 0rem;

          @include media('>=tablet') {
            padding: 0rem 2rem;
          }

          p {
            margin: 1rem 0;
          }

          img {
            width: 2rem;
            animation: pulse 2s infinite;
            cursor: pointer;
          }
        }
      }
    }
  }
}
