.team__container {
  @extend .grid-part;
  @extend .aside-part;
  position: relative;

  .CIRCLE {
    position: absolute;
    top: 5rem;
    right: -5rem;
    opacity: 0.2;
  }

  .CIRCLE2 {
    position: absolute;
    top: 3rem;
    right: 5rem;
    opacity: 0.2;
  }

  .team__wrapper {
    width: 90%;
    margin: 0rem auto;
    position: relative;

    @include media('>=tablet') {
      margin-top: 4rem;
    }

    .team__generalInfo {
      padding: 1rem 0;
      max-width: 34rem;
      margin-bottom: 2rem;

      img {
        width: 2rem;
        animation: pulse 2s infinite;
        cursor: pointer;
      }

      @include media('>=tablet') {
        padding-left: 5rem;
        text-align: left;
      }
    }

    .team__boxes {
      position: relative;
      margin: 0 auto;

      @include media('>=tablet') {
        width: 72%;
        justify-items: center;
      }

      .SQUARE {
        position: absolute;
        bottom: 10rem;
        left: -5rem;
        height: 10rem;
        width: 10rem;
        opacity: 0.04;
      }

      .SQUARE2 {
        position: absolute;
        bottom: -3rem;
        right: 0rem;
        height: 10rem;
        width: 10rem;
        opacity: 0.04;
      }

      .team__box {
        text-align: center;
        margin: 0 auto 1rem auto;

        @include media('>=tablet') {
          margin-bottom: 0rem;
          max-width: 22rem;
          margin: 0 auto;
        }

        .team__img {
          width: 100%;
          max-height: 22rem;
        }

        h3 {
          margin: 1rem 0;
        }

        p {
          text-align: justify;
        }

        .team__social {
          display: flex;
          margin-top: 1rem;

          svg {
            width: 2rem;
          }
        }
      }
    }
  }
}
