.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid rgba(114, 114, 114, 0.624);
  border-radius: 50%;
  position: absolute;
  z-index: 8;
  transform: translate(-50%, -50%);
  transform-origin: 150% 150%;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  transition-property: background, transform, border-color;
  z-index: 999999999999999;

  &__button {
    transform: scale(1.5);
    transform-origin: 150% 150%;
    background-color: rgba(225, 225, 225, 0.275);
    border-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease-in-out;
    transition-property: background, transform, border-color;
  }
}