.grid {
  display: -webkit-box;
  display: flex;
  top: 0;
  left: -1px;
  pointer-events: none;
  position: fixed;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 100%;
  width: calc(100% + 2px);
  z-index: 1000;

  .grid-line {
    background-color: #fff;
    height: 100%;
    width: 1px;
    opacity: 0.2;
  }
}
